img{
  width:50%;
  height:50%;
}
mat-card-header{
  color: #27acb4;
  font-family: 'Droid serif', serif;
  font-size: xx-large;
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
}
p {
  color: #001150;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 28px;
}
.author { color: #8d8d8d; font-family: Georgia, serif; font-style: italic; font-size: 14px; margin-bottom: 28px; }
.author a { color: #c73036; font-family: "Helvetica Neue", sans-serif; font-weight: bold; text-decoration: none; text-transform: uppercase; }
