<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar color="primary">
    <span><mat-icon>domain</mat-icon></span>
    <span>Taler en Clases SPA- {{title}}</span>

    <button mat-raised-button color="warn" [routerLink]="['/']"> Inicio </button>
    <button mat-raised-button [routerLink]="['listado']">Noticias </button>
    <button mat-raised-button color="primary">Borrar </button>
    <button mat-raised-button color="accent">Editar </button>
  </mat-toolbar>

  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>

</div>

