img{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
button{
  margin-top: auto;
  margin-bottom: 15px;
}
mat-card{
}
mat-grid-tile{
  border-style: solid;
  border-color: white;
  border-radius: 2px;
}
